<h1>Test</h1>

<div class="search-container">
    <form class="search-container" [formGroup]="submissionForm" (ngSubmit)="onSubmit()">
        <input class="search-bar input" formControlName="tags">

        <div class="site-select select">
            <select id="sites" formControlName="site">
                <option (change)="changeSite($event)" *ngFor="let site of sites" [value]="sites[0]">{{site}}</option>
            </select>
        </div>

        <div class="button-container">
            <button class="button is-primary" type="submit">Submit</button>
        </div>
    </form>
</div>
